<div id="footer">
  <div id="container">
    <div id="sns">
      <a
        class="link"
        href="https://instagram.com/hououfes_2021"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img src="assets/footer/Instagram.svg" alt="Instagram: hououfes_2021" />
      </a>
      <a
        class="link"
        href="https://twitter.com/hououfes_2021"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="assets/footer/Twitter.svg" alt="Twitter: @hououfes_2021" />
      </a>
    </div>
    <div id="copyright">
      <div id="links">
        <span class="link">プライバシーポリシー</span>
        <a
          class="link"
          href="https://www.gakushuin.ac.jp/bjh/"
          target="_blank"
          rel="noreferrer noopener"
          >中等科ウェブサイト</a
        >
        <a
          class="link"
          href="https://www.gakushuin.ac.jp/bsh/"
          target="_blank"
          rel="noreferrer noopener"
          >高等科ウェブサイト</a
        >
      </div>
      <span translate="no">&copy; 鳳櫻祭実行委員会 2021</span>
    </div>
  </div>
  v4.0.0
</div>
