<div id="top">
  <img src="assets/home/theme.svg" id="theme" title="テーマ" alt="翔破" />
</div>
<div id="info">
  <div id="info-title">
    <span class="outline-text" data-text="来場に関するご案内"
      >来場に関するご案内</span
    >
  </div>
  <p>
    <span
      class="outline-text"
      data-text="今年度の鳳櫻祭は、新型コロナウイルス感染症対策のため、参加者の規模を縮小して開催いたします。"
      >今年度の鳳櫻祭は、新型コロナウイルス感染症対策のため、参加者の規模を縮小して開催いたします。</span
    >
    <br />
    <span
      class="outline-text"
      data-text="そのため、当日の参加者を中・高等科在校生及びその家族（１名）、事前登録された受験希望者（１組２名まで）に限らせていただきます。それ以外の方々のご入場に関しましては、感染予防の観点からご遠慮いただくこととなりました。"
      >そのため、当日の参加者を中・高等科在校生及びその家族（１名）、事前登録された受験希望者（１組２名まで）に限らせていただきます。それ以外の方々のご入場に関しましては、感染予防の観点からご遠慮いただくこととなりました。</span
    >
    <br />
    <span
      class="outline-text"
      data-text="詳しくは学習院中等科、または高等科ホームページをご覧ください。"
      >詳しくは学習院中等科、または高等科ホームページをご覧ください。</span
    >
  </p>
</div>
<div id="date">
  <img
    src="assets/home/date.svg"
    title="開催日時"
    alt="10月30日土曜日、31日日曜日。９時から１１時４５分までを第一部、１２時４５分から１５時３０分までを第二部として開催。"
  />
</div>
<div id="coming-img"></div>
<section id="theme-description">
  <p>
    昨年の初めに緊急事態宣言が発令されて以来、<br />我々は一年半以上にわたって日常の生活を制約され続けてきました。<br />誰しもが大なり小なりの苦労を経験してきたことでしょう。<br />「翔破」とは「翔び果てる」ことを意味します。<br />この鳳櫻祭で、<br />苦難を乗り越えた先の世界を感じ取っていただけたら幸いです。
  </p>
  <img id="blend" src="assets/home/coming.png" />
</section>
