<div class="table-container">
  <div class="place-container-l">
    <div class="place">高等科体育館</div>
    <div class="group" id="group44">
      <span class="start-time">12:45〜</span>Bound for the Sky
    </div>
    <div class="group" id="group45">
      <span class="start-time">13:15〜</span>MMIK
    </div>
    <div class="group" id="group46">
      <span class="start-time">13:40〜</span>サムギョプサル少年団
    </div>
    <div class="group" id="group47">
      <span class="start-time">14:00〜</span>MMIK &times; GKS
    </div>
    <div class="group" id="group48">
      <span class="start-time">14:10〜</span>ROUGH MODE
    </div>
    <div class="group" id="group49">
      <span class="start-time">14:30〜</span>GKS
    </div>
    <div class="group" id="group50">
      <span class="start-time">15:05〜</span>unlimit
    </div>
  </div>
  <div class="place-container">
    <div class="place">第1グラウンド</div>
    <div class="group" id="group51">
      <span class="start-time">12:45〜</span>ホッケー部
    </div>
  </div>
  <div class="place-container">
    <div class="place">教職員玄関前</div>
  </div>
  <div class="place-container">
    <div class="place">プール</div>
    <div class="group" id="group52">
      <span class="start-time">13:00〜</span>マーメイドボーイズ
    </div>
    <div class="group" id="group53">
      <span class="start-time">15:00〜</span>マーメイドボーイズ
    </div>
  </div>
  <div class="place-container">
    <div class="place">野球場</div>
    <div class="group" id="group54">
      <span class="start-time">12:45〜</span>硬式野球部
    </div>
  </div>
  <div class="place-container">
    <div class="place">3年4組</div>
    <div class="group" id="group55">
      <span class="start-time">13:30〜</span>目白桜亭
    </div>
    <div class="group" id="group56">
      <span class="start-time">14:45〜</span>演劇部
    </div>
  </div>
  <div class="place-container">
    <div class="place">3年C組</div>
  </div>
  <div class="place-container">
    <div class="place">1年5組</div>
    <div class="group" id="group57">
      <span class="start-time">13:00〜</span>物理・化学部
    </div>
  </div>
  <div class="place-container">
    <div class="place">1年B組</div>
    <div class="group" id="group58">
      <span class="start-time">13:00〜</span>手品の部屋
    </div>
  </div>
  <div class="place-container">
    <div class="place">501・502</div>
    <div class="group" id="group59">
      <span class="start-time">13:15〜</span>開場
    </div>
    <div class="group" id="group60">
      <span class="start-time">13:30〜</span>弦楽同好会
    </div>
  </div>
  <div class="place-container">
    <div class="place">会議室</div>
    <div class="group" id="group61">
      <span class="start-time">13:00〜</span>入試個別説明コーナー
    </div>
  </div>
</div>
