<div class="table-container">
  <div class="place-container-l">
    <div class="place">高等科体育館</div>
    <div class="group" id="group1">
      <span class="start-time">09:00〜</span>総合演劇入門
    </div>
    <div class="group" id="group2">
      <span class="start-time">10:00〜</span>音楽部
    </div>
    <div class="group" id="group3">
      <span class="start-time">10:20〜</span>Abiete Sub Theatrum
    </div>
    <div class="group" id="group4">
      <span class="start-time">11:15〜</span>ウマ息子
    </div>
  </div>
  <div class="place-container">
    <div class="place">第1グラウンド</div>
    <div class="group" id="group5">
      <span class="start-time">09:40〜</span>ウマ息子
    </div>
  </div>
  <div class="place-container">
    <div class="place">教職員玄関前</div>
    <div class="group" id="group6">
      <span class="start-time">10:00〜</span>中・高吹奏楽団
    </div>
  </div>
  <div class="place-container">
    <div class="place">プール</div>
    <div class="group" id="group7">
      <span class="start-time">11:00〜</span>マーメイドボーイズ
    </div>
  </div>
  <div class="place-container">
    <div class="place">野球場</div>
  </div>
  <div class="place-container">
    <div class="place">3年4組</div>
    <div class="group" id="group8">
      <span class="start-time">09:45〜</span>演劇部
    </div>
    <div class="group" id="group9">
      <span class="start-time">10:30〜</span>目白桜亭
    </div>
  </div>
  <div class="place-container">
    <div class="place">3年C組</div>
    <div class="group" id="group10">
      <span class="start-time">10:00〜</span>国際交流委員会
    </div>
  </div>
  <div class="place-container">
    <div class="place">1年5組</div>
    <div class="group" id="group11">
      <span class="start-time">10:00〜</span>物理・化学部
    </div>
  </div>
  <div class="place-container">
    <div class="place">1年B組</div>
  </div>
  <div class="place-container">
    <div class="place">501・502</div>
  </div>
  <div class="place-container">
    <div class="place">会議室</div>
    <div class="group" id="group12">
      <span class="start-time">09:30〜</span>入試個別説明コーナー
    </div>
  </div>
</div>
