<div class="table-container">
  <div class="place-container-l">
    <div class="place">高等科体育館</div>
    <div class="group" id="group13">
      <span class="start-time">12:45〜</span>音楽部
    </div>
    <div class="group" id="group14">
      <span class="start-time">13:00〜</span>Grock
    </div>
    <div class="group" id="group15">
      <span class="start-time">13:30〜</span>サムギョプサル少年団
    </div>
    <div class="group" id="group16">
      <span class="start-time">13:45〜</span>ROUGH MODE
    </div>
    <div class="group" id="group17">
      <span class="start-time">14:05〜</span>MMIK
    </div>
    <div class="group" id="group18">
      <span class="start-time">14:25〜</span>MMIK &times; GKS
    </div>
    <div class="group" id="group19">
      <span class="start-time">14:35〜</span>unlimit
    </div>
    <div class="group" id="group20">
      <span class="start-time">15:00〜</span>GKS
    </div>
  </div>
  <div class="place-container">
    <div class="place">第1グラウンド</div>
    <div class="group" id="group21">
      <span class="start-time">13:30〜</span>古武道部
    </div>
  </div>
  <div class="place-container">
    <div class="place">教職員玄関前</div>
    <div class="group" id="group22">
      <span class="start-time">12:45〜</span>中・高吹奏楽団
    </div>
  </div>
  <div class="place-container">
    <div class="place">プール</div>
    <div class="group" id="group23">
      <span class="start-time">13:00〜</span>マーメイドボーイズ
    </div>
    <div class="group" id="group24">
      <span class="start-time">15:00〜</span>マーメイドボーイズ
    </div>
  </div>
  <div class="place-container">
    <div class="place">野球場</div>
  </div>
  <div class="place-container">
    <div class="place">3年4組</div>
    <div class="group" id="group25">
      <span class="start-time">13:30〜</span>目白桜亭
    </div>
    <div class="group" id="group26">
      <span class="start-time">14:45〜</span>演劇部
    </div>
  </div>
  <div class="place-container">
    <div class="place">3年C組</div>
  </div>
  <div class="place-container">
    <div class="place">1年5組</div>
    <div class="group" id="group27">
      <span class="start-time">13:00〜</span>物理・化学部
    </div>
  </div>
  <div class="place-container">
    <div class="place">1年B組</div>
    <div class="group" id="group28">
      <span class="start-time">13:00〜</span>手品の部屋
    </div>
  </div>
  <div class="place-container">
    <div class="place">501・502</div>
    <div class="group" id="group29">
      <span class="start-time">12:45〜</span>開場
    </div>
    <div class="group" id="group30">
      <span class="start-time">13:00〜</span>カンタービレ！
    </div>
  </div>
  <div class="place-container">
    <div class="place">会議室</div>
    <div class="group" id="group31">
      <span class="start-time">13:00〜</span>入試個別説明コーナー
    </div>
  </div>
</div>
